body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
}

p {
  color: white;
}

h2 {
  color: white;
}

.btn {
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
}

.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
}
